*.py[cod]

# C extensions
*.so

# Env
venv/

# Logs
logs/

# Secret
.env

# DB
app.db

# Translations
*.mo

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Installer logs
pip-log.txt